purpose: make the reference file was from one of the .mlma files using the  for munging. used in the NICSA genomic SEM pipeline.

In [3]:
import pandas as pd
import os
from glob import glob

In [2]:
os.chdir('/tscc/nfs/home/bsleger/bsl/SUD_cross_species/nicsa_gwas')

# get N rats per trait to study

In [6]:
#list of traits that I want to analyze- chosen by hao chen
traits=list(pd.read_csv('../nicsa_traits.txt', sep='\t',header=None)[0])

In [45]:
list(pd.read_csv('../nicsa_traits.csv', sep=',')['file_prefix'])

['regressedlr_nicsa_day1_activelick',
 'regressedlr_nicsa_day1_active_inactive_ratio',
 'regressedlr_nicsa_day1_infusion',
 'regressedlr_nicsa_active_inactive_ratio_first_three_median',
 'regressedlr_nicsa_first_three_days_activelick_median',
 'regressedlr_nicsa_first_three_days_activelick_total',
 'regressedlr_nicsa_first_three_days_infusion_median',
 'regressedlr_nicsa_first_three_days_infusion_total',
 'regressedlr_nicsa_day10_activelick',
 'regressedlr_nicsa_day10_active_inactive_ratio',
 'regressedlr_nicsa_day10_infusion',
 'regressedlr_nicsa_active_inactive_ratio_last_three_median',
 'regressedlr_nicsa_last_three_days_activelick_median',
 'regressedlr_nicsa_last_three_days_activelick_total',
 'regressedlr_nicsa_last_three_days_infusion_median',
 'regressedlr_nicsa_last_three_days_infusion_total',
 'regressedlr_nicsa_total_activelick_10days',
 'regressedlr_nicsa_total_infusion_10days',
 'regressedlr_nicsa_active_inactive_ratio_all_days']

In [20]:
traits

['day1_activelick',
 'day1_active_inactive_ratio',
 'day1_infusion',
 'active_inactive_ratio_first_three_median',
 'first_three_days_activelick_median',
 'first_three_days_activelick_total',
 'first_three_days_infusion_median',
 'first_three_days_infusion_total',
 'day10_activelick',
 'day10_active_inactive_ratio',
 'day10_infusion',
 'active_inactive_ratio_last_three_median',
 'last_three_days_activelick_median',
 'last_three_days_activelick_total',
 'last_three_days_infusion_median',
 'last_three_days_infusion_total',
 'total_activelick_10days',
 'total_infusion_10days',
 'active_inactive_ratio_all_days']

In [3]:
A = pd.read_csv('processed_data_ready.csv', dtype = {'rfid': str})

In [42]:
#get list of measured traits- apparently on regressedls have mlma files so use regressed
A.columns[A.columns.str.contains('active_inactive_ratio_all_days')]

Index(['nicsa_active_inactive_ratio_all_days', 'regressedlr_nicsa_active_inactive_ratio_all_days'], dtype='object')

In [41]:
#get N rats for given trait
len(A['regressedlr_nicsa_active_inactive_ratio_all_days'].dropna())
#data saved to nicsa_traits.csv

2018

# export table with RFIDs - based on phenotype data

In [9]:
#make ref table
#A = pd.read_csv('processed_data_ready.csv', dtype = {'rfid': str})
#A.columns = A.columns.str.lower()
#A[A['unnamed: 0']!=A.index]
#A.to_csv('raw_data.csv', index=False)
a = pd.read_csv('raw_data.csv')

#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header
prefixes=('regressedlr_nicsa_day1_activelick' 'regressedlr_nicsa_day1_active_inactive_ratio' 'regressedlr_nicsa_day1_infusion' 'regressedlr_nicsa_active_inactive_ratio_first_three_median' 'regressedlr_nicsa_first_three_days_activelick_median' 'regressedlr_nicsa_first_three_days_activelick_total' 'regressedlr_nicsa_first_three_days_infusion_median' 'regressedlr_nicsa_first_three_days_infusion_total' 'regressedlr_nicsa_day10_activelick' 'regressedlr_nicsa_day10_active_inactive_ratio' 'regressedlr_nicsa_day10_infusion' 'regressedlr_nicsa_active_inactive_ratio_last_three_median' 'regressedlr_nicsa_last_three_days_activelick_median' 'regressedlr_nicsa_last_three_days_activelick_total' 'regressedlr_nicsa_last_three_days_infusion_median' 'regressedlr_nicsa_last_three_days_infusion_total' 'regressedlr_nicsa_total_activelick_10days' 'regressedlr_nicsa_total_infusion_10days' 'regressedlr_nicsa_active_inactive_ratio_all_days')

for p in ${prefixes[@]}; do
    for CHR in {1..20}; do
        # Define the file
        file=${p}_chrgwas${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done

In [4]:
df = pd.read_csv('mlma/regressedlr_nicsa_day7_activelick_chrgwas_chrall.mlma', sep='\t')

In [5]:
df

,Chr,SNP,bp,A1,A2,Freq,b,se,p
0,1,1:735254,735254,A,G,0.927327,0.071200,0.058984,0.227396
1,1,1:763121,763121,C,T,0.923688,0.051701,0.060605,0.393610
2,1,1:767113,767113,A,G,0.923545,0.049313,0.060513,0.415117
3,1,1:1113500,1113500,T,A,0.947440,0.010916,0.072916,0.880996
4,1,1:1124362,1124362,G,A,0.947883,0.017060,0.073034,0.815304
...,...,...,...,...,...,...,...,...,...
5367082,20,20:54428480,54428480,A,T,0.019837,-0.076972,0.118927,0.517489
5367083,20,20:54428485,54428485,A,G,0.019837,-0.076972,0.118927,0.517489
5367084,20,20:54428858,54428858,A,C,0.019837,-0.076972,0.118927,0.517489
5367085,20,20:54429269,54429269,A,G,0.979908,0.063283,0.116537,0.587112
5367086,20,20:54429288,54429288,A,G,0.979908,0.063283,0.116537,0.587112

# calculate the true minor allele frequency, as opposed to the A2 frequency (which may in fact be the major allele but just means the non-reference allele)
#montana says using the true MAF doesn't work for LDSC, and to just use the A2 frequency

#df['freq2'] = 0.5 - abs(df.Freq- 0.5)
#%time df[['A1v', 'A2v']] = df.apply(lambda x: [x.A1, x.A2] if x.Freq< .5 else [x.A2, x.A1], axis =1  ).to_list()
#df[['SNP','Chr', 'bp','freq2', 'A1v', 'A2v']].rename({'freq2': 'MAF', 'A1v': 'A1', 'A2v': 'A2'}, axis = 1).to_csv('ldscmlma/ddref_snplist.txt', index = False)

glob('mlma/*.mlma')
for file in glob('mlma/*.mlma'):
    df = pd.read_csv('results/gwas/regressedlr_dd_indiff_16.loco.mlma', sep='\t')
    df['freq2'] = 0.5 - abs(df.Freq- 0.5)
    %time df[['A1v', 'A2v']] = df.apply(lambda x: [x.A1, x.A2] if x.Freq< .5 else [x.A2, x.A1], axis =1  ).to_list()
    df

In [6]:
df[['SNP','Chr', 'bp','Freq', 'A1', 'A2']].rename({'Freq': 'MAF'}, axis = 1)

                 SNP  Chr        bp       MAF A1 A2
0           1:735254    1    735254  0.927327  A  G
1           1:763121    1    763121  0.923688  C  T
2           1:767113    1    767113  0.923545  A  G
3          1:1113500    1   1113500  0.947440  T  A
4          1:1124362    1   1124362  0.947883  G  A
...              ...  ...       ...       ... .. ..
5367082  20:54428480   20  54428480  0.019837  A  T
5367083  20:54428485   20  54428485  0.019837  A  G
5367084  20:54428858   20  54428858  0.019837  A  C
5367085  20:54429269   20  54429269  0.979908  A  G
5367086  20:54429288   20  54429288  0.979908  A  G

[5367087 rows x 6 columns]

In [7]:
df[['SNP','Chr', 'bp','Freq', 'A1', 'A2']].rename({'Freq': 'MAF'}, axis = 1).to_csv('scripts/nicsa_munge_ref/nicsa_ref_snplist_notmaf.tsv', sep='\t',index = False)