purpose: to run magma on the gwas output for SMKINIT and CIGDAY PC1s (from input traits recommended by Hao Chen- MCs made using PCA_phenotypes_nicsa.ipynb, format_PCA_forgwas.ipynb, and gwas pipeline) and Locomotor phenotypes

# concat MLMA output from GWAS

In [ ]:
#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header

cd /tscc/projects/ps-palmer/apurva/locomotor_round10.1/GWAS-pipeline/combined_loco_backup/results/gwas_all/
if [ ! -d "mlma_concat" ]; then
  mkdir mlma_concat

fi

directories=('common_factor/' 'mega/')
prefixes=('regressedlr_gsem_results_commonfactor_F1_common_chrgwas' 'regressedlr_locomotor_mega_chrgwas')
for ((i=0; i<${#prefixes[@]}; i++)); do
    p=${prefixes[i]}
    d=${directories[i]}
    for CHR in {1..20}; do
        # Define the file
        file=${d}${p}${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done

# makes files  /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma
# /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma

In [ ]:
for ((i=0; i<${#prefixes[@]}; i++)); do
    p=${prefixes[0]}
    d=${directories[0]}
    for CHR in {1..20}; do
        # Define the file
        file=${d}${p}${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done

In [ ]:
#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc2/results/gwas

if [ ! -d "mlma_concat" ]; then
  mkdir mlma_concat

fi

prefixes=('pc1_cigday_qtl' 'pc1_cigday2a_qtl' 'pc1_cigday1a_qtl' 'pc1_smkinit1a_qtl' 'pc1_smkinit_qtl')
for p in ${prefixes[@]}; do
    for CHR in {1..20}; do
        # Define the file
        file=regressedlr_${p}_chrgwas${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done



# makes files  /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma
# /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma

In [57]:
#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header
# all traits with qtls
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc1/results_run1/gwas

if [ ! -d "mlma_concat" ]; then
  mkdir mlma_concat
fi


prefixes=('nicsa_active_inactive_ratio_all_days' 'nicsa_active_inactive_ratio_last_three_median' 'nicsa_day10_inactivelick' 'nicsa_day11_active_inactive_ratio' 'nicsa_day11_activelick' 'nicsa_day11_infusion' 'nicsa_day1_activelick' 'nicsa_day1_inactivelick' 'nicsa_day1_infusion' 'nicsa_day2_activelick' 'nicsa_day2_infusion' 'nicsa_day3_active_inactive_ratio' 'nicsa_day3_activelick' 'nicsa_day3_inactivelick' 'nicsa_day4_active_inactive_ratio' 'nicsa_day4_activelick' 'nicsa_day4_inactivelick' 'nicsa_day4_infusion' 'nicsa_day5_infusion' 'nicsa_day6_active_inactive_ratio' 'nicsa_day6_activelick' 'nicsa_day6_infusion' 'nicsa_day8_active_inactive_ratio' 'nicsa_day8_activelick' 'nicsa_day8_infusion' 'nicsa_day9_inactivelick' 'nicsa_first_three_days_infusion_median' 'nicsa_last_three_days_infusion_median' 'nicsa_slope_nicotine_infusion' 'nicsa_total_activelick_10days' 'nicsa_total_inactivelick_10days' 'nicsa_total_infusion_10days')

for p in ${prefixes[@]}; do
    for CHR in {1..20}; do
        # Define the file
        file=regressedlr_${p}_chrgwas${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done



# makes files  /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma
# /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma

SyntaxError: invalid syntax (3043570197.py, line 6)

In [9]:
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/

/tscc/projects/ps-palmer/brittany/SUD_cross_species

# format gwas mlma into pval files and position files for magma- I find it easier to do this than set it in the magma files (python)

## define functions

In [141]:
def ex_magma_input(snp,prefix,dir):
    #purpose- format pvalue and pos files- specifics for mlma
    print((snp.head))
    pos=snp[['SNP','Chr','bp']]
    pos['bp']=pos['bp'].astype(int)
    pos.columns=['SNP','CHR','POS']
    pos.to_csv(dir+prefix+'_pos.tsv',sep='\t',index=False)
    print('pos file written to '+dir+prefix+'_pos.tsv')
    pval=snp[['SNP','p']]
    pval.columns=['SNP','P']
    pval.to_csv(dir+prefix+'_pval.tsv',sep='\t',index=False)
    print('pval file written to '+dir+prefix+'_pval.tsv')

In [142]:
def ex_magma(snp,colname,prefix,dir,N=None,use_RSID=False):
    #purpose- format pvalue and pos files- specifics for mlma- allows to modify
    #colname is a list with the following order: rsid,chr,pos,pval
    if use_RSID==False:
        pos=snp[[colname[0],colname[1],colname[2]]]
    else:
        pos=snp[['RSID',colname[1],colname[2]]]
    pos.columns=['SNP','CHR','POS']
    pos.to_csv(dir+prefix+'_pos.tsv',sep='\t',index=False)
    print(pos.head())
    print('pos file written to '+dir+prefix+'_pos.tsv')
    if use_RSID==False:
        pval=snp[[colname[0],colname[3]]]
    else:
        pval=snp[['RSID',colname[3]]]
    pval.columns=['SNP','P']
    if (N!=None):
        print(N)
        pval.insert(0, 'N', N)
    print(pval.head())

    pval.to_csv(dir+prefix+'_pval.tsv',sep='\t',index=False)
    print('pval file written to '+dir+prefix+'_pval.tsv')
    return pos,pval

## import files

In [143]:
import pandas as pd
import os

In [144]:
os.getcwd()
os.chdir('/tscc/projects/ps-palmer/brittany/SUD_cross_species/')

In [ ]:
#nicsa
mlma_path='/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc1/results/gwas/mlma_concat/'
magma_out_dir='/tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/'
cigday=pd.read_csv(mlma_path+'regressedlr_cigday_pc1.mlma',sep='\t')
smkinit=pd.read_csv(mlma_path+'regressedlr_smkinit_pc1.mlma',sep='\t')
pca_path='/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc2/results/gwas/mlma_concat/'

In [26]:
qtl=pd.read_csv('nicsa_gwas_pc1/results_run1/qtls/finalqtlannotated.csv')
qtl_t=set(qtl.trait)
#remove the PCA analysis and UMAP traits
qtl_t={x for x in qtl_t if ('pc' not in x) and ('umap' not in x)}

In [5]:
loco=pd.read_csv('loco_meta/regressedlr_combined_locomotor.mlma', sep='\t')
loco_gsem=pd.read_csv('loco_commonFactor/combined_gwas_results_CF_MPH.txt',sep='\t')

In [6]:
loco_final_mega=pd.read_csv('/tscc/projects/ps-palmer/brittany/SUD_cross_species/loco_final/mlma_concat/regressedlr_gsem_results_commonfactor_F1_common_chrgwas.mlma', sep='\t')
loco_final_cf=pd.read_csv('/tscc/projects/ps-palmer/brittany/SUD_cross_species/loco_final/mlma_concat/regressedlr_locomotor_mega_chrgwas.mlma', sep='\t')

In [145]:
bmi=pd.read_csv('/tscc/projects/ps-palmer/brittany/bmi_ucsd_lib/results.bmi_wo_tail.csv')
bl=pd.read_csv('/tscc/projects/ps-palmer/brittany/bmi_ucsd_lib/results.length_wo_tail_cm.csv')

## export files

### nicsa

In [32]:
ex_magma_input(cigday,'cigday_pc1',magma_out_dir)
ex_magma_input(smkinit,'smkinit_pc1',magma_out_dir)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/cigday_pc1_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/cigday_pc1_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/smkinit_pc1_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/smkinit_pc1_pval.tsv

In [49]:
pca_path

'/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc2/results/gwas/mlma_concat'

In [51]:
#export PCA analysis run 2 GWAS
for f in os.listdir(pca_path):
    ex_magma_input_file(pca_path+f,(f[0:len(f)-5]),magma_out_dir)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_smkinit_qtl_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_smkinit_qtl_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday1a_qtl_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday1a_qtl_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_smkinit1a_qtl_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_smkinit1a_qtl_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday2a_qtl_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday2a_qtl_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday_qtl_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/pc1_cigday_qtl_pval.tsv

In [61]:
#export all traits with QTLs
path='/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas_pc1/results_run1/gwas/mlma_concat/'

for f in qtl_t:
    ex_magma_input_file(path+f+'.mlma',f,magma_out_dir)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day2_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day2_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_activelick_10days_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_activelick_10days_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_inactivelick_10days_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_inactivelick_10days_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_inactivelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_inactivelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day5_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day5_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_active_inactive_ratio_all_days_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_active_inactive_ratio_all_days_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day10_inactivelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day10_inactivelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_active_inactive_ratio_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_active_inactive_ratio_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_inactivelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_inactivelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_inactivelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_inactivelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_slope_nicotine_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_slope_nicotine_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_first_three_days_infusion_median_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_first_three_days_infusion_median_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_active_inactive_ratio_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day8_active_inactive_ratio_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_active_inactive_ratio_last_three_median_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_active_inactive_ratio_last_three_median_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_active_inactive_ratio_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day6_active_inactive_ratio_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_active_inactive_ratio_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_active_inactive_ratio_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day3_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_last_three_days_infusion_median_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_last_three_days_infusion_median_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_infusion_10days_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_total_infusion_10days_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_active_inactive_ratio_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day11_active_inactive_ratio_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day2_infusion_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day2_infusion_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day9_inactivelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day9_inactivelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day1_activelick_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_activelick_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/nicsa_day4_activelick_pval.tsv

### locomotor

In [ ]:
ex_magma_input(loco_final_mega,'loco_final_mega',magma_out_dir)

In [13]:
loco_final_mega.head()

   Chr         bp        SNP A1 A2     Freq         b        se         p
0    1   735254.0   1:735254  G  A  0.07666  0.030389  0.019776  0.124380
1    1   763121.0   1:763121  T  C  0.07985  0.039158  0.019658  0.046378
2    1   767113.0   1:767113  G  A  0.07978  0.039805  0.019681  0.043128
3    1  1113500.0  1:1113500  A  T  0.05762  0.066123  0.022563  0.003384
4    1  1124362.0  1:1124362  A  G  0.05754  0.062078  0.022618  0.006059

In [11]:
ex_magma_input(loco_final_cf,'loco_final_cf',magma_out_dir)

<bound method NDFrame.head of          Chr          SNP        bp A1 A2      Freq         b        se  \
0          1     1:763121    763121  C  T  0.919802 -0.047976  0.030641
1          1     1:767113    767113  A  G  0.919824 -0.047865  0.030661
2          1    1:1113500   1113500  T  A  0.943119 -0.075407  0.036438
3          1    1:1124362   1124362  G  A  0.943163 -0.067673  0.036326
4          1    1:1169549   1169549  G  T  0.944331 -0.073254  0.036147
...      ...          ...       ... .. ..       ...       ...       ...
5355266   20  20:54428480  54428480  A  T  0.020320 -0.083400  0.059365
5355267   20  20:54428485  54428485  A  G  0.020320 -0.083400  0.059365
5355268   20  20:54428858  54428858  A  C  0.020320 -0.083400  0.059365
5355269   20  20:54429269  54429269  A  G  0.979351  0.068343  0.058609
5355270   20  20:54429288  54429288  A  G  0.979351  0.068343  0.058609

                p
0        0.117404
1        0.118500
2        0.038506
3        0.062475
4        0.042707
...           ...
5355266  0.160057
5355267  0.160057
5355268  0.160057
5355269  0.243574
5355270  0.243574

[5355271 rows x 9 columns]>
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_final_cf_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_final_cf_pval.tsv

In [26]:
loco_gsem['BP']=loco_gsem['BP'].apply(lambda x: int(x))
loco_gsem['SNP']=loco_gsem['SNP'].apply(lambda x: x[3:])

In [36]:
pos,pval=ex_magma(loco_gsem,['SNP','CHR','BP','P'],'loco_gsem',magma_out_dir)

         SNP  CHR      POS
0  1:1113500    1  1113500
1  1:1124362    1  1124362
2  1:1169549    1  1169549
3  1:1175836    1  1175836
4  1:1181278    1  1181278
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_gsem_pos.tsv
         SNP         P
0  1:1113500  0.035478
1  1:1124362  0.039827
2  1:1169549  0.013269
3  1:1175836  0.020832
4  1:1181278  0.017019
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_gsem_pval.tsv

# BMI

In [ ]:
ex_magma_input(bl,'body_length_rn6',magma_out_dir)

In [20]:
ex_magma_input(bmi,'bmi_rn6',magma_out_dir)

<bound method NDFrame.head of          Chr             SNP         bp A1 A2      Freq         b        se  \
0         10    chr10:142747     142747  T  C  0.887077 -0.061692  0.033176
1         10    chr10:143014     143014  T  C  0.887077 -0.061692  0.033176
2         10    chr10:143363     143363  T  C  0.887077 -0.061692  0.033176
3         10    chr10:143699     143699  G  C  0.887214 -0.061704  0.033184
4         10    chr10:143715     143715  C  T  0.887214 -0.061704  0.033184
...      ...             ...        ... .. ..       ...       ...       ...
3513489    9  chr9:121994902  121994902  A  C  0.480107  0.002695  0.020213
3513490    9  chr9:121998393  121998393  A  G  0.480107  0.002695  0.020213
3513491    9  chr9:122022381  122022381  T  G  0.010700  0.077545  0.085786
3513492    9  chr9:122022385  122022385  A  T  0.010789  0.092433  0.085443
3513493    9  chr9:122022444  122022444  T  C  0.112398 -0.037489  0.032556

                p
0        0.062953
1        0.062953
2        0.062953
3        0.062962
4        0.062962
...           ...
3513489  0.893928
3513490  0.893928
3513491  0.366029
3513492  0.279339
3513493  0.249515

[3513494 rows x 9 columns]>

/tmp/ipykernel_2101656/648551824.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos['bp']=pos['bp'].astype(int)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/bmi_rn6_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/bmi_rn6_pval.tsv

# format RN7.2 Gene locations for magma- format like NCBI38.gene.loc

- seqname - name of the chromosome or scaffold; chromosome names can be given with or without the 'chr' prefix. Important note: the seqname must be one used within Ensembl, i.e. a standard chromosome name or an Ensembl identifier such as a scaffold ID, without any additional content such as species or assembly. See the example GFF output below.
- source - name of the program that generated this feature, or the data source (database or project name)
- feature - feature type name, e.g. Gene, Variation, Similarity
- start - Start position* of the feature, with sequence numbering starting at 1.
- end - End position* of the feature, with sequence numbering starting at 1.
- score - A floating point value.
- strand - defined as + (forward) or - (reverse).
- frame - One of '0', '1' or '2'. '0' indicates that the first base of the feature is the first base of a codon, '1' that the second base is the first base of a codon, and so on..
- attribute - A semicolon-separated list of tag-value pairs, providing additional information about each feature.

## read in table that maps the chromosome name to the chromosome number

source: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_015227675.2/

In [26]:
os.getcwd()

'/tscc/projects/ps-palmer/brittany/SUD_cross_species'

In [90]:
chr=pd.read_csv('magma/rn7.2_annotatedgenes_ncbi/sequence_report.tsv',sep='\t')
chr=chr[['RefSeq seq accession','Chromosome name']]
chr.columns=['seqname','chr']
chr=chr[chr.seqname.str.contains('NC')]

In [91]:
chr

         seqname chr
0    NC_051336.1   1
1    NC_051337.1   2
2    NC_051338.1   3
3    NC_051339.1   4
4    NC_051340.1   5
5    NC_051341.1   6
6    NC_051342.1   7
7    NC_051343.1   8
8    NC_051344.1   9
9    NC_051345.1  10
10   NC_051346.1  11
11   NC_051347.1  12
12   NC_051348.1  13
13   NC_051349.1  14
14   NC_051350.1  15
15   NC_051351.1  16
16   NC_051352.1  17
17   NC_051353.1  18
18   NC_051354.1  19
19   NC_051355.1  20
20   NC_051356.1   X
21   NC_051357.1   Y
175  NC_001665.2  MT

In [28]:
def pull_gene(ls, str):
    for item in ls:
        if str in item:
            return item
    return None
def format_column(col,int,delim):
    col=col.str.split(delim)
    col=col.apply(lambda x: x[int] if isinstance(x, list) and len(x) > 0 else None)
    #remove residual quote and spaces
    col = col.apply(lambda x: x.replace('"', '').replace(' ', '') if isinstance(x, str) else x)
    return(col)

## read in and format gene attribute table

source: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_015227675.2/
info: https://useast.ensembl.org/info/website/upload/gff.html

In [29]:
#read in attributes
tbl=pd.read_csv('magma/rn7.2_annotatedgenes_ncbi/genomic.gtf',sep='\t',skiprows=5, header=None)
tbl.columns=['seqname','source','feature','start','end','score','strand','frame','attribute']
tbl=tbl.drop(len(tbl)-1,axis=0)

#make start and stops ints
tbl['start']=tbl['start'].astype(int)
tbl['end']=tbl['end'].astype(int)

#add chromosome numbers
tbl=tbl.merge(chr, on='seqname',how='left')
#remove those with chromosomes that aren't of interest (NC chrs)
tbl=tbl.dropna()

#split attribute column
tbl['attribute']=tbl.attribute.str.split(";")
tbl['N_att']= tbl['attribute'].apply(lambda x: len(x))
#subset to only features that are genes
print(set(tbl['feature']))
tbl=tbl[tbl['feature']=='gene']

{'stop_codon', 'start_codon', 'CDS', 'exon', 'gene', 'transcript'}

In [266]:
#pull gene name attribute
tbl['gene'] = tbl['attribute'].apply(pull_gene, args=(['gene "']))
tbl['gene']=format_column(tbl['gene'],int=2,delim=" ")
#pull geneid attribute 
tbl['geneid'] = tbl['attribute'].apply(pull_gene, args=(['gene_id "']))
tbl['geneid']=format_column(tbl['geneid'],int=1,delim='"')
#pull RGD ID for later reference
tbl['RGD_ID']=tbl['attribute'].apply(pull_gene, args=(['RGD:']))
tbl['RGD_ID']=format_column(tbl['RGD_ID'],int=2,delim=" ")
#pull Gene ID number attribute
tbl['DB_ID']=tbl['attribute'].apply(pull_gene, args=(['GeneID:']))
tbl['DB_ID']=format_column(tbl['DB_ID'],int=2,delim=" ")

In [276]:
tbl['gene_type']=tbl['attribute'].apply(pull_gene, args=(['gene_biotype "']))
tbl['gene_type']=format_column(tbl['gene_type'],int=2,delim=" ")

In [249]:
tbl[tbl['geneid'].duplicated(keep=False)]

Empty DataFrame
Columns: [seqname, source, feature, start, end, score, strand, frame, attribute, chr, N_att, gene, geneid, RGD_ID]
Index: []

In [282]:
tbl[tbl['DB_ID'].duplicated(keep=False)]

Empty DataFrame
Columns: [seqname, source, feature, start, end, score, strand, frame, attribute, chr, N_att, gene, geneid, RGD_ID, DB_ID, gene_type]
Index: []

## write to file for later reference

In [303]:
tbl.to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table.tsv',index=False,sep='\t')
tbl[['geneid','chr','start','end','strand']].to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_forMAGMA.tsv',sep='\t',index=False,header=None)

In [304]:
tbl_prot=tbl[tbl.gene_type=='protein_coding']
tbl_prot

,seqname,source,feature,start,end,score,strand,frame,attribute,chr,N_att,gene,geneid,RGD_ID,DB_ID,gene_type
1,NC_051336.1,BestRefSeq%2CGnomon,gene,76909,85784,.,+,.,"[gene_id ""Vom2r3"", transcript_id """", db_xref...",1,10,Vom2r3,Vom2r3,RGD:1565892,GeneID:502213,protein_coding
45,NC_051336.1,Gnomon,gene,162525,192445,.,-,.,"[gene_id ""LOC103693496"", transcript_id """", d...",1,9,LOC103693496,LOC103693496,RGD:9090555,GeneID:103693496,protein_coding
147,NC_051336.1,BestRefSeq,gene,226465,241532,.,-,.,"[gene_id ""Vom2r4"", transcript_id """", db_xref...",1,10,Vom2r4,Vom2r4,RGD:1564110,GeneID:308248,protein_coding
164,NC_051336.1,Gnomon,gene,284195,301267,.,-,.,"[gene_id ""LOC102556157"", transcript_id """", d...",1,9,LOC102556157,LOC102556157,RGD:7626961,GeneID:102556157,protein_coding
190,NC_051336.1,Gnomon,gene,404295,411163,.,+,.,"[gene_id ""LOC103690913"", transcript_id """", d...",1,9,LOC103690913,LOC103690913,RGD:9095272,GeneID:103690913,protein_coding
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338650,NC_001665.2,RefSeq,gene,9870,10166,.,+,.,"[gene_id ""ND4L"", transcript_id """", db_xref ""...",MT,10,ND4L,ND4L,RGD:620494,GeneID:26200,protein_coding
2338656,NC_001665.2,RefSeq,gene,10160,11537,.,+,.,"[gene_id ""ND4"", transcript_id """", db_xref ""G...",MT,9,ND4,ND4,RGD:620559,GeneID:26201,protein_coding
2338671,NC_001665.2,RefSeq,gene,11736,13565,.,+,.,"[gene_id ""ND5"", transcript_id """", db_xref ""G...",MT,10,ND5,ND5,RGD:620560,GeneID:26202,protein_coding
2338677,NC_001665.2,RefSeq,gene,13543,14061,.,-,.,"[gene_id ""ND6"", transcript_id """", db_xref ""G...",MT,9,ND6,ND6,RGD:620561,GeneID:26203,protein_coding
2338686,NC_001665.2,RefSeq,gene,14136,15278,.,+,.,"[gene_id ""CYTB"", transcript_id """", db_xref ""...",MT,8,CYTB,CYTB,RGD:620081,GeneID:26192,protein_coding

In [305]:
tbl_prot.to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding.tsv',index=False,sep='\t')
tbl_prot[['geneid','chr','start','end','strand']].to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv',sep='\t',index=False,header=None)

# format RN6 Gene locations for magma- do same as was done for RN7.2

## read in table that maps the chromosome name to the chromosome number

source: https://hgdownload.soe.ucsc.edu/goldenPath/rn6/bigZips/

In [92]:
chr=pd.read_csv('magma/rn6_annotatedgenes_ncbi/rn6.chromAlias.txt',sep='\t')

In [125]:
chr['chr']=chr['# ucsc'].str.extract(r'^chr([^_]+)')

In [126]:
chr=chr[['refseq','chr']]
chr.columns=['seqname','chr']
chr=chr[chr.seqname.str.contains('NC')]

In [127]:
chr

         seqname chr
0    NC_005100.4   1
1    NC_005109.4  10
16   NC_005110.4  11
33   NC_005111.4  12
46   NC_005112.4  13
59   NC_005113.4  14
70   NC_005114.4  15
85   NC_005115.4  16
98   NC_005116.4  17
113  NC_005117.4  18
124  NC_005118.4  19
157  NC_005101.4   2
158  NC_005119.4  20
192  NC_005102.4   3
217  NC_005103.4   4
234  NC_005104.4   5
254  NC_005105.4   6
266  NC_005106.4   7
291  NC_005107.4   8
303  NC_005108.4   9
311  NC_001665.2   M
888  NC_005120.4   X
924  NC_024475.1   Y

In [40]:
def pull_gene(ls, str):
    for item in ls:
        if str in item:
            return item
    return None
def format_column(col,int,delim):
    col=col.str.split(delim)
    col=col.apply(lambda x: x[int] if isinstance(x, list) and len(x) > 0 else None)
    #remove residual quote and spaces
    col = col.apply(lambda x: x.replace('"', '').replace(' ', '') if isinstance(x, str) else x)
    return(col)

## read in and format gene attribute table

source: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_015227675.2/
info: https://useast.ensembl.org/info/website/upload/gff.html

In [128]:
tbl=pd.read_csv('magma/rn6_annotatedgenes_ncbi/GCF_000001895.5/genomic.gtf',sep='\t',skiprows=5, header=None)

In [129]:
#read in attributes
tbl.columns=['seqname','source','feature','start','end','score','strand','frame','attribute']
tbl=tbl.drop(len(tbl)-1,axis=0)

#make start and stops ints
tbl['start']=tbl['start'].astype(int)
tbl['end']=tbl['end'].astype(int)

#add chromosome numbers
tbl=tbl.merge(chr, on='seqname',how='left')
#remove those with chromosomes that aren't of interest (NC chrs)
tbl=tbl.dropna()

#split attribute column
tbl['attribute']=tbl.attribute.str.split(";")
tbl['N_att']= tbl['attribute'].apply(lambda x: len(x))
#subset to only features that are genes
print(set(tbl['feature']))
tbl=tbl[tbl['feature']=='gene']

{'stop_codon', 'start_codon', 'CDS', 'exon', 'gene'}

In [132]:
#pull gene name attribute
tbl['gene'] = tbl['attribute'].apply(pull_gene, args=(['gene "']))
tbl['gene']=format_column(tbl['gene'],int=2,delim=" ")
#pull geneid attribute 
tbl['geneid'] = tbl['attribute'].apply(pull_gene, args=(['gene_id "']))
tbl['geneid']=format_column(tbl['geneid'],int=1,delim='"')
#pull RGD ID for later reference
tbl['RGD_ID']=tbl['attribute'].apply(pull_gene, args=(['RGD:']))
tbl['RGD_ID']=format_column(tbl['RGD_ID'],int=2,delim=" ")
#pull Gene ID number attribute
tbl['DB_ID']=tbl['attribute'].apply(pull_gene, args=(['GeneID:']))
tbl['DB_ID']=format_column(tbl['DB_ID'],int=2,delim=" ")

In [133]:
tbl['gene_type']=tbl['attribute'].apply(pull_gene, args=(['gene_biotype "']))
tbl['gene_type']=format_column(tbl['gene_type'],int=2,delim=" ")

In [134]:
tbl[tbl['geneid'].duplicated(keep=False)]

Empty DataFrame
Columns: [seqname, source, feature, start, end, score, strand, frame, attribute, N_att, chr, gene, geneid, RGD_ID, DB_ID, gene_type]
Index: []

In [135]:
tbl[tbl['DB_ID'].duplicated(keep=False)]

,seqname,source,feature,start,end,score,strand,frame,attribute,N_att,chr,gene,geneid,RGD_ID,DB_ID,gene_type
122,NC_005100.4,BestRefSeq,gene,12006663,12128849,.,+,.,"[gene_id ""Mcc"", db_xref ""GeneID:307449"", db_...",10,1,Mcc,Mcc,RGD:1561988,GeneID:307449,protein_coding
462,NC_005100.4,Gnomon,gene,41033284,41133299,.,+,.,"[gene_id ""Ccdc170"", db_xref ""GeneID:292266"", ...",7,1,Ccdc170,Ccdc170,RGD:1310945,GeneID:292266,protein_coding
464,NC_005100.4,Gnomon,gene,41608287,41763591,.,-,.,"[gene_id ""Syne1"", db_xref ""GeneID:499010"", d...",7,1,Syne1,Syne1,RGD:620546,GeneID:499010,protein_coding
466,NC_005100.4,Gnomon,gene,41844840,42086662,.,-,.,"[gene_id ""Syne1_1"", db_xref ""GeneID:499010"", ...",7,1,Syne1,Syne1_1,RGD:620546,GeneID:499010,protein_coding
470,NC_005100.4,Gnomon,gene,42216594,42256837,.,+,.,"[gene_id ""Ccdc170_1"", db_xref ""GeneID:292266""...",7,1,Ccdc170,Ccdc170_1,RGD:1310945,GeneID:292266,protein_coding
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37741,NC_005120.4,Gnomon,gene,49644973,49705870,.,-,.,"[gene_id ""Srsf8_1"", db_xref ""GeneID:317533"", ...",7,X,Srsf8,Srsf8_1,RGD:1563383,GeneID:317533,protein_coding
38357,NC_005120.4,BestRefSeq%2CGnomon,gene,109940439,110036361,.,+,.,"[gene_id ""Nrk"", db_xref ""GeneID:315907"", db_...",9,X,Nrk,Nrk,RGD:1566163,GeneID:315907,protein_coding
38358,NC_005120.4,Gnomon,gene,110065199,110089124,.,+,.,"[gene_id ""Nrk_1"", db_xref ""GeneID:315907"", d...",7,X,Nrk,Nrk_1,RGD:1566163,GeneID:315907,protein_coding
38570,NC_005120.4,Gnomon,gene,128923951,128951520,.,-,.,"[gene_id ""Tenm1"", db_xref ""GeneID:298168"", d...",7,X,Tenm1,Tenm1,RGD:1561678,GeneID:298168,protein_coding
38572,NC_005120.4,Gnomon,gene,129034755,129336023,.,-,.,"[gene_id ""Tenm1_1"", db_xref ""GeneID:298168"", ...",7,X,Tenm1,Tenm1_1,RGD:1561678,GeneID:298168,protein_coding

## write to file for later reference

In [136]:
tbl.to_csv('magma/rn6_annotatedgenes_ncbi/rn6_gene_attribute_table.tsv',index=False,sep='\t')
tbl[['geneid','chr','start','end','strand']].to_csv('magma/rn6_annotatedgenes_ncbi/rn6_gene_attribute_table_forMAGMA.tsv',sep='\t',index=False,header=None)

In [137]:
tbl_prot=tbl[tbl.gene_type=='protein_coding']
tbl_prot

,seqname,source,feature,start,end,score,strand,frame,attribute,N_att,chr,gene,geneid,RGD_ID,DB_ID,gene_type
2,NC_005100.4,Gnomon,gene,237909,243880,.,-,.,"[gene_id ""LOC108349479"", db_xref ""GeneID:1083...",6,1,LOC108349479,LOC108349479,None,GeneID:108349479,protein_coding
3,NC_005100.4,Gnomon,gene,249306,269871,.,-,.,"[gene_id ""LOC102556098"", db_xref ""GeneID:1025...",7,1,LOC102556098,LOC102556098,RGD:7732163,GeneID:102556098,protein_coding
4,NC_005100.4,Gnomon,gene,318093,329799,.,+,.,"[gene_id ""LOC103690072"", db_xref ""GeneID:1036...",7,1,LOC103690072,LOC103690072,RGD:9199901,GeneID:103690072,protein_coding
6,NC_005100.4,Gnomon,gene,390869,396476,.,+,.,"[gene_id ""LOC103690913"", db_xref ""GeneID:1036...",7,1,LOC103690913,LOC103690913,RGD:9095272,GeneID:103690913,protein_coding
8,NC_005100.4,BestRefSeq,gene,400256,409676,.,+,.,"[gene_id ""Vom2r2"", db_xref ""GeneID:292438"", ...",9,1,Vom2r2,Vom2r2,RGD:1561757,GeneID:292438,protein_coding
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39525,NC_001665.2,RefSeq,gene,9870,10166,.,+,.,"[gene_id ""ND4L"", db_xref ""GeneID:26200"", db_...",9,M,ND4L,ND4L,RGD:620494,GeneID:26200,protein_coding
39526,NC_001665.2,RefSeq,gene,10160,11537,.,+,.,"[gene_id ""ND4"", db_xref ""GeneID:26201"", db_x...",8,M,ND4,ND4,RGD:620559,GeneID:26201,protein_coding
39530,NC_001665.2,RefSeq,gene,11736,13565,.,+,.,"[gene_id ""ND5"", db_xref ""GeneID:26202"", db_x...",9,M,ND5,ND5,RGD:620560,GeneID:26202,protein_coding
39531,NC_001665.2,RefSeq,gene,13543,14061,.,-,.,"[gene_id ""ND6"", db_xref ""GeneID:26203"", db_x...",8,M,ND6,ND6,RGD:620561,GeneID:26203,protein_coding
39533,NC_001665.2,RefSeq,gene,14136,15278,.,+,.,"[gene_id ""CYTB"", db_xref ""GeneID:26192"", db_...",7,M,CYTB,CYTB,RGD:620081,GeneID:26192,protein_coding

In [139]:
tbl_prot.to_csv('magma/rn6_annotatedgenes_ncbi/rn6_gene_attribute_table_protein_coding.tsv',index=False,sep='\t')
tbl_prot[['geneid','chr','start','end','strand']].to_csv('magma/rn6_annotatedgenes_ncbi/rn6_gene_attribute_table_protein_coding_forMAGMA.tsv',sep='\t',index=False,header=None)

# run magma on smkinit and cigday pc1s

In [289]:
pwd

'/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma'

## cigday

In [ ]:
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

In [ ]:
#just the rats in the dataset used
prefix="cigday_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
nicsa_rats="nicsa_gwas_geno/genotypes"
suffix="_nicsa_geno"



/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $nicsa_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

In [ ]:
#all genotypes used
prefix="cigday_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
all_rats="round10_2/round10_2"
suffix="_all_geno"


/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $all_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

## smkinit

In [ ]:
#just the rats in the dataset used
prefix="smkinit_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
nicsa_rats="nicsa_gwas_geno/genotypes"
suffix="_nicsa_geno"



/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $nicsa_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

In [ ]:
#all genotypes used
prefix="smkinit_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
all_rats="round10_2/round10_2"
suffix="_all_geno"


/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $all_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

## locomotor

so fun fact- the N that Apurva told me to use use is the number of rats genotyped, not the number of rats that were phenotyed, because Hao Chen's data was removed. SO EVERYTHING IS A LITTLE WRONG....
I'll rerun using the correct N just for the 10kb window, and see if it makes any real difference. If it does I guess I can rerun it but I really don't think it's worth the computing power unless it's being included in the manuscript

In [ ]:
#sensitivity analysis- batch job

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

win_ls=( 0 1 5 10 25 50)
prefix="loco_meta"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=8679 # wrong N- this is the N genotyped
rats="loco_meta_gwas_geno/genotypes"
suffix=""

win=${win_ls[$SLURM_ARRAY_TASK_ID-1]}

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_win"${win}.genes.annot" --out $prefix$suffix"_win"$win

In [ ]:
#single run initial meta analysis- just for 10kb window

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

prefix="loco_meta"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=7722 # this is the N phenotyped
rats="loco_meta_gwas_geno/genotypes"
suffix=""
win=10

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_7k_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_7k_win"${win}.genes.annot" --out $prefix$suffix"_7k_win"$win

In [ ]:
#single run- locomotor gSEM common factor
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

prefix="loco_gsem"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=7722 # this is the N phenotyed
rats="loco_meta_gwas_geno/genotypes"
suffix=""

#win=${win_ls[$SLURM_ARRAY_TASK_ID-1]}
win=10
/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_7k_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_7k_win"${win}.genes.annot" --out $prefix$suffix"_7k_win"$win

In [ ]:
#single run- final datasets

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

prefix="loco_final_mega"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=7679 # this is the N phenotyped
rats="genotypes_loco_final/genotypes"
suffix=""
win=10

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_7k_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_7k_win"${win}.genes.annot" --out $prefix$suffix"_7k_win"$win

In [ ]:
#single run- final datasets

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

prefix="loco_final_cf"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=7679 # this is the N phenotyped
rats="genotypes_loco_final/genotypes"
suffix=""
win=10

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_7k_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_7k_win"${win}.genes.annot" --out $prefix$suffix"_7k_win"$win

In [ ]:
#single run- BMI/BL

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

prefix="body_length_rn6"
gene_loc_file="rn6_annotatedgenes_ncbi/rn6_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=5660 # this is from the cell reports paper
rats="/tscc/projects/ps-palmer/brittany/bmi_ucsd_lib/mendeley/genotypes_round8_unpruned"
suffix=""
win=10

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_7k_win"${win}.genes.annot" --out $prefix$suffix"_win"$win

## NICSA QTL traits and round 2 PCA

In [64]:
proc_data=pd.read_csv('nicsa_gwas_pc2/processed_data_ready.csv')

In [69]:
traits=list(qtl_t)+[i[0:len(i)-5] for i in os.listdir(pca_path)]

In [72]:
for t in traits:
    print(t+': '+str(len(proc_data[t].dropna())))

nicsa_day8_infusion: 1785
nicsa_day6_activelick: 1783
nicsa_day2_activelick: 1804
nicsa_total_activelick_10days: 1811
nicsa_day11_activelick: 1769
nicsa_total_inactivelick_10days: 1811
nicsa_day4_inactivelick: 1802
nicsa_day8_activelick: 1785
nicsa_day5_infusion: 1802
nicsa_active_inactive_ratio_all_days: 1811
nicsa_day10_inactivelick: 1811
nicsa_day3_active_inactive_ratio: 1774
nicsa_day6_infusion: 1784
nicsa_day3_inactivelick: 1804
nicsa_day1_inactivelick: 1811
nicsa_slope_nicotine_infusion: 1811
nicsa_day4_infusion: 1794
nicsa_first_three_days_infusion_median: 1811
nicsa_day1_infusion: 1811
nicsa_day8_active_inactive_ratio: 1738
nicsa_active_inactive_ratio_last_three_median: 1811
nicsa_day6_active_inactive_ratio: 1746
nicsa_day4_active_inactive_ratio: 1766
nicsa_day3_activelick: 1799
nicsa_day11_infusion: 1771
nicsa_last_three_days_infusion_median: 1811
nicsa_total_infusion_10days: 1811
nicsa_day11_active_inactive_ratio: 1624
nicsa_day2_infusion: 1805
nicsa_day9_inactivelick: 1799
nicsa_day1_activelick: 1811
nicsa_day4_activelick: 1794
pc1_smkinit_qtl: 1811
pc1_cigday1a_qtl: 1750
pc1_smkinit1a_qtl: 1811
pc1_cigday2a_qtl: 1750
pc1_cigday_qtl: 1750

In [ ]:
#!/bin/bash
#SBATCH --job-name nicsa_qtl
#SBATCH --partition condo
#SBATCH --qos condo
#SBATCH --nodes 1
#SBATCH -a 1-37
#SBATCH -c 1
#SBATCH -t 8:00:00
#SBATCH --mem-per-cpu 8G
#SBATCH -o /tscc/nfs/home/bsleger/bsl/SUD_cross_species/magma_nicsa-%j.o
#SBATCH -e /tscc/nfs/home/bsleger/bsl/SUD_cross_species/magma_nicsa-%j.e
#SBATCH --mail-type END,FAIL
#SBATCH --mail-user bsleger@ucsd.edu
#SBATCH --account csd795


cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

#just the rats in the dataset used
prefixes=('nicsa_day8_infusion' 'nicsa_day6_activelick' 'nicsa_day2_activelick' 'nicsa_total_activelick_10days' 'nicsa_day11_activelick' 'nicsa_total_inactivelick_10days' 'nicsa_day4_inactivelick' 'nicsa_day8_activelick' 'nicsa_day5_infusion' 'nicsa_active_inactive_ratio_all_days' 'nicsa_day10_inactivelick' 'nicsa_day3_active_inactive_ratio' 'nicsa_day6_infusion' 'nicsa_day3_inactivelick' 'nicsa_day1_inactivelick' 'nicsa_slope_nicotine_infusion' 'nicsa_day4_infusion' 'nicsa_first_three_days_infusion_median' 'nicsa_day1_infusion' 'nicsa_day8_active_inactive_ratio' 'nicsa_active_inactive_ratio_last_three_median' 'nicsa_day6_active_inactive_ratio' 'nicsa_day4_active_inactive_ratio' 'nicsa_day3_activelick' 'nicsa_day11_infusion' 'nicsa_last_three_days_infusion_median' 'nicsa_total_infusion_10days' 'nicsa_day11_active_inactive_ratio' 'nicsa_day2_infusion' 'nicsa_day9_inactivelick' 'nicsa_day1_activelick' 'nicsa_day4_activelick' 'pc1_smkinit_qtl' 'pc1_cigday1a_qtl' 'pc1_smkinit1a_qtl' 'pc1_cigday2a_qtl' 'pc1_cigday_qtl')
Ns=(1785 1783 1804 1811 1769 1811 1802 1785 1802 1811 1811 1774 1784 1804 1811 1811 1794 1811 1811 1738 1811 1746 1766 1799 1771 1811 1811 1624 1805 1799 1811 1794 1811 1750 1811 1750 1750)
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
nicsa_rats="nicsa_gwas_geno/genotypes"
suffix="_nicsa_geno"    
prefix=${prefixes[$SLURM_ARRAY_TASK_ID-1]}
N=${Ns[$SLURM_ARRAY_TASK_ID-1]}


/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $nicsa_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_win"${win}.genes.annot" --out $prefix$suffix"_win"$win