purpose: to run magma on the gwas output for SMKINIT and CIGDAY PC1s (from input traits recommended by Hao Chen- MCs made using PCA_phenotypes_nicsa.ipynb, format_PCA_forgwas.ipynb, and gwas pipeline) and Locomotor phenotypes

# concat MLMA output from GWAS

In [ ]:
#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header
chdir /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas

prefixes=('regressedlr_smkinit_pc1' 'regressedlr_cigday_pc1')
for p in ${prefixes[@]}; do
    for CHR in {1..20}; do
        # Define the file
        file=${p}_chrgwas${CHR}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file mlma_concat/${p}.mlma
        else
            awk 'FNR>1' $file >> mlma_concat/${p}.mlma
        fi   
    done
done

# makes files  /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma
# /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma

In [ ]:
#bash
#run to concat all the files in order for a trait to get a both a ref file and concated mlma files for genomic sem- awk to remove header

chdir /tscc/projects/ps-palmer/apurva/locomotor_round10.1/GWAS-pipeline/combined_loco_backup/results/gwas_all/

prefixes=('regressedlr_combined_locomotor')
for p in ${prefixes[@]}; do
    for CHR in {1..20}; do
        # Define the file
        file=gwas_chr${CHR}_${p}.mlma
        echo $file
        if [ ${CHR} -eq 1 ];
        then
            cp $file /tscc/projects/ps-palmer/brittany/SUD_cross_species/${p}.mlma
        else
            awk 'FNR>1' $file >> /tscc/projects/ps-palmer/brittany/SUD_cross_species/${p}.mlma
        fi   
    done
done

# makes files  /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma
# /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/regressedlr_cigday_pc1.mlma

In [9]:
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/

/tscc/projects/ps-palmer/brittany/SUD_cross_species

# format gwas mlma into pval files and position files for magma- I find it easier to do this than set it in the magma files (python)

In [12]:
import pandas as pd
import os

In [13]:
os.getcwd()

'/tscc/projects/ps-palmer/brittany/SUD_cross_species'

In [8]:
#nicsa
mlma_path='/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_gwas/results/gwas/mlma_concat/'
magma_out_dir='/tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/'
cigday=pd.read_csv(mlma_path+'regressedlr_cigday_pc1.mlma',sep='\t')
smkinit=pd.read_csv(mlma_path+'regressedlr_smkinit_pc1.mlma',sep='\t')

In [14]:
loco=pd.read_csv('regressedlr_combined_locomotor.mlma', sep='\t')

In [18]:
loco

,Chr,SNP,bp,A1,A2,Freq,b,se,p
0,1,1:1113500,1113500,T,A,0.926542,-0.050935,0.032059,0.112111
1,1,1:1124362,1124362,G,A,0.927104,-0.050403,0.032101,0.116389
2,1,1:1169549,1169549,G,T,0.930027,-0.066158,0.032631,0.042616
3,1,1:1175836,1175836,G,A,0.930205,-0.061351,0.032677,0.060449
4,1,1:1181278,1181278,C,T,0.930561,-0.063303,0.032737,0.053150
...,...,...,...,...,...,...,...,...,...
5315006,20,20:54428480,54428480,A,T,0.019258,-0.059840,0.060062,0.319101
5315007,20,20:54428485,54428485,A,G,0.019258,-0.059840,0.060062,0.319101
5315008,20,20:54428858,54428858,A,C,0.019258,-0.059840,0.060062,0.319101
5315009,20,20:54429269,54429269,A,G,0.980738,0.059628,0.060061,0.320816
5315010,20,20:54429288,54429288,A,G,0.980616,0.053934,0.059827,0.367328

In [1]:
def ex_magma_input(snp,prefix,dir):
    #purpose- format pvalue and pos files- specifics for mlma
    pos=snp[['SNP','Chr','bp']]
    pos.columns=['SNP','CHR','POS']
    pos.to_csv(dir+prefix+'_pos.tsv',sep='\t',index=False)
    print('pos file written to '+dir+prefix+'_pos.tsv')
    pval=snp[['SNP','p']]
    pval.columns=['SNP','P']
    pval.to_csv(dir+prefix+'_pval.tsv',sep='\t',index=False)
    print('pval file written to '+dir+prefix+'_pval.tsv')

In [32]:
ex_magma_input(cigday,'cigday_pc1',magma_out_dir)
ex_magma_input(smkinit,'smkinit_pc1',magma_out_dir)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/cigday_pc1_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/cigday_pc1_pval.tsv
pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/smkinit_pc1_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma/smkinit_pc1_pval.tsv

In [17]:
ex_magma_input(loco,'loco_meta',magma_out_dir)

pos file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_meta_pos.tsv
pval file written to /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma/loco_meta_pval.tsv

# format RN7.2 Gene locations for magma- format like NCBI38.gene.loc

- seqname - name of the chromosome or scaffold; chromosome names can be given with or without the 'chr' prefix. Important note: the seqname must be one used within Ensembl, i.e. a standard chromosome name or an Ensembl identifier such as a scaffold ID, without any additional content such as species or assembly. See the example GFF output below.
- source - name of the program that generated this feature, or the data source (database or project name)
- feature - feature type name, e.g. Gene, Variation, Similarity
- start - Start position* of the feature, with sequence numbering starting at 1.
- end - End position* of the feature, with sequence numbering starting at 1.
- score - A floating point value.
- strand - defined as + (forward) or - (reverse).
- frame - One of '0', '1' or '2'. '0' indicates that the first base of the feature is the first base of a codon, '1' that the second base is the first base of a codon, and so on..
- attribute - A semicolon-separated list of tag-value pairs, providing additional information about each feature.

## read in table that maps the chromosome name to the chromosome number

source: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_015227675.2/

In [263]:
chr=pd.read_csv('rn7.2_annotatedgenes_ncbi/sequence_report.tsv',sep='\t')
chr=chr[['RefSeq seq accession','Chromosome name']]
chr.columns=['seqname','chr']
chr=chr[chr.seqname.str.contains('NC')]

In [264]:
def pull_gene(ls, str):
    for item in ls:
        if str in item:
            return item
    return None
def format_column(col,int,delim):
    col=col.str.split(delim)
    col=col.apply(lambda x: x[int] if isinstance(x, list) and len(x) > 0 else None)
    #remove residual quote and spaces
    col = col.apply(lambda x: x.replace('"', '').replace(' ', '') if isinstance(x, str) else x)
    return(col)

## read in and format gene attribute table

source: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_015227675.2/
info: https://useast.ensembl.org/info/website/upload/gff.html

In [265]:
#read in attributes
tbl=pd.read_csv('rn7.2_annotatedgenes_ncbi/genomic.gtf',sep='\t',skiprows=5, header=None)
tbl.columns=['seqname','source','feature','start','end','score','strand','frame','attribute']
tbl=tbl.drop(len(tbl)-1,axis=0)

#make start and stops ints
tbl['start']=tbl['start'].astype(int)
tbl['end']=tbl['end'].astype(int)

#add chromosome numbers
tbl=tbl.merge(chr, on='seqname',how='left')
#remove those with chromosomes that aren't of interest (NC chrs)
tbl=tbl.dropna()

#split attribute column
tbl['attribute']=tbl.attribute.str.split(";")
tbl['N_att']= tbl['attribute'].apply(lambda x: len(x))
#subset to only features that are genes
print(set(tbl['feature']))
tbl=tbl[tbl['feature']=='gene']

{'exon', 'CDS', 'start_codon', 'stop_codon', 'gene', 'transcript'}

In [266]:
#pull gene name attribute
tbl['gene'] = tbl['attribute'].apply(pull_gene, args=(['gene "']))
tbl['gene']=format_column(tbl['gene'],int=2,delim=" ")
#pull geneid attribute 
tbl['geneid'] = tbl['attribute'].apply(pull_gene, args=(['gene_id "']))
tbl['geneid']=format_column(tbl['geneid'],int=1,delim='"')
#pull RGD ID for later reference
tbl['RGD_ID']=tbl['attribute'].apply(pull_gene, args=(['RGD:']))
tbl['RGD_ID']=format_column(tbl['RGD_ID'],int=2,delim=" ")
#pull Gene ID number attribute
tbl['DB_ID']=tbl['attribute'].apply(pull_gene, args=(['GeneID:']))
tbl['DB_ID']=format_column(tbl['DB_ID'],int=2,delim=" ")

In [276]:
tbl['gene_type']=tbl['attribute'].apply(pull_gene, args=(['gene_biotype "']))
tbl['gene_type']=format_column(tbl['gene_type'],int=2,delim=" ")

In [249]:
tbl[tbl['geneid'].duplicated(keep=False)]

Empty DataFrame
Columns: [seqname, source, feature, start, end, score, strand, frame, attribute, chr, N_att, gene, geneid, RGD_ID]
Index: []

In [282]:
tbl[tbl['DB_ID'].duplicated(keep=False)]

Empty DataFrame
Columns: [seqname, source, feature, start, end, score, strand, frame, attribute, chr, N_att, gene, geneid, RGD_ID, DB_ID, gene_type]
Index: []

## write to file for later reference

In [303]:
tbl.to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table.tsv',index=False,sep='\t')
tbl[['geneid','chr','start','end','strand']].to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_forMAGMA.tsv',sep='\t',index=False,header=None)

In [304]:
tbl_prot=tbl[tbl.gene_type=='protein_coding']
tbl_prot

,seqname,source,feature,start,end,score,strand,frame,attribute,chr,N_att,gene,geneid,RGD_ID,DB_ID,gene_type
1,NC_051336.1,BestRefSeq%2CGnomon,gene,76909,85784,.,+,.,"[gene_id ""Vom2r3"", transcript_id """", db_xref...",1,10,Vom2r3,Vom2r3,RGD:1565892,GeneID:502213,protein_coding
45,NC_051336.1,Gnomon,gene,162525,192445,.,-,.,"[gene_id ""LOC103693496"", transcript_id """", d...",1,9,LOC103693496,LOC103693496,RGD:9090555,GeneID:103693496,protein_coding
147,NC_051336.1,BestRefSeq,gene,226465,241532,.,-,.,"[gene_id ""Vom2r4"", transcript_id """", db_xref...",1,10,Vom2r4,Vom2r4,RGD:1564110,GeneID:308248,protein_coding
164,NC_051336.1,Gnomon,gene,284195,301267,.,-,.,"[gene_id ""LOC102556157"", transcript_id """", d...",1,9,LOC102556157,LOC102556157,RGD:7626961,GeneID:102556157,protein_coding
190,NC_051336.1,Gnomon,gene,404295,411163,.,+,.,"[gene_id ""LOC103690913"", transcript_id """", d...",1,9,LOC103690913,LOC103690913,RGD:9095272,GeneID:103690913,protein_coding
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338650,NC_001665.2,RefSeq,gene,9870,10166,.,+,.,"[gene_id ""ND4L"", transcript_id """", db_xref ""...",MT,10,ND4L,ND4L,RGD:620494,GeneID:26200,protein_coding
2338656,NC_001665.2,RefSeq,gene,10160,11537,.,+,.,"[gene_id ""ND4"", transcript_id """", db_xref ""G...",MT,9,ND4,ND4,RGD:620559,GeneID:26201,protein_coding
2338671,NC_001665.2,RefSeq,gene,11736,13565,.,+,.,"[gene_id ""ND5"", transcript_id """", db_xref ""G...",MT,10,ND5,ND5,RGD:620560,GeneID:26202,protein_coding
2338677,NC_001665.2,RefSeq,gene,13543,14061,.,-,.,"[gene_id ""ND6"", transcript_id """", db_xref ""G...",MT,9,ND6,ND6,RGD:620561,GeneID:26203,protein_coding
2338686,NC_001665.2,RefSeq,gene,14136,15278,.,+,.,"[gene_id ""CYTB"", transcript_id """", db_xref ""...",MT,8,CYTB,CYTB,RGD:620081,GeneID:26192,protein_coding

In [305]:
tbl_prot.to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding.tsv',index=False,sep='\t')
tbl_prot[['geneid','chr','start','end','strand']].to_csv('rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv',sep='\t',index=False,header=None)

# run magma on smkinit and cigday pc1s

In [289]:
pwd

'/tscc/projects/ps-palmer/brittany/SUD_cross_species/nicsa_magma'

## cigday

In [ ]:
cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

In [ ]:
#just the rats in the dataset used
prefix="cigday_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
nicsa_rats="nicsa_gwas_geno/genotypes"
suffix="_nicsa_geno"



/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $nicsa_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

In [ ]:
#all genotypes used
prefix="cigday_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
all_rats="round10_2/round10_2"
suffix="_all_geno"


/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $all_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

## smkinit

In [ ]:
#just the rats in the dataset used
prefix="smkinit_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
nicsa_rats="nicsa_gwas_geno/genotypes"
suffix="_nicsa_geno"



/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $nicsa_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

In [ ]:
#all genotypes used
prefix="smkinit_pc1"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=2018
all_rats="round10_2/round10_2"
suffix="_all_geno"


/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=10 --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $all_rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}.genes.annot" --out $prefix$suffix

## locomotor

In [ ]:
#sensitivity analysis- batch job

cd /tscc/projects/ps-palmer/brittany/SUD_cross_species/magma

win_ls=( 0 1 5 10 25 50)
prefix="loco_meta"
gene_loc_file="rn7.2_annotatedgenes_ncbi/rn7.2_gene_attribute_table_protein_coding_forMAGMA.tsv"
N=8679
rats="loco_meta_gwas_geno/genotypes"
suffix=""

win=${win_ls[$SLURM_ARRAY_TASK_ID-1]}

/tscc/projects/ps-palmer/brittany/magma_v1/magma --annotate nonhuman window=$win --snp-loc "${prefix}_pos.tsv" --gene-loc $gene_loc_file --out $prefix$suffix"_win"$win

/tscc/projects/ps-palmer/brittany/magma_v1/magma --bfile $rats --pval "${prefix}_pval.tsv" N=$N --gene-annot "${prefix}${suffix}"_win"${win}.genes.annot" --out $prefix$suffix"_win"$win